<igx-accordion class="accordion">
  <igx-expansion-panel>
    <igx-expansion-panel-body>
      <p class="ig-typography__body-2 text">
        Body 2
      </p>
    </igx-expansion-panel-body>
    <igx-expansion-panel-header>
      <igx-expansion-panel-title>Title goes here...</igx-expansion-panel-title>
    </igx-expansion-panel-header>
  </igx-expansion-panel>
  <igx-expansion-panel>
    <igx-expansion-panel-body>
      <p class="ig-typography__body-2 text">
        Body 2
      </p>
    </igx-expansion-panel-body>
    <igx-expansion-panel-header>
      <igx-expansion-panel-title>Title goes here...</igx-expansion-panel-title>
    </igx-expansion-panel-header>
  </igx-expansion-panel>
  <igx-expansion-panel>
    <igx-expansion-panel-body>
      <p class="ig-typography__body-2 text">
        Body 2
      </p>
    </igx-expansion-panel-body>
    <igx-expansion-panel-header>
      <igx-expansion-panel-title>Title goes here...</igx-expansion-panel-title>
    </igx-expansion-panel-header>
  </igx-expansion-panel>
</igx-accordion>
