:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.accordion {
  overflow-y: auto;
  flex-shrink: 0;
}
.text {
  height: max-content;
  min-width: min-content;
}
